*{
    box-sizing: border-box;
}

/*Height 100% para el html para evitar problemas*/

html{
    height: 100%;
}
   
/*Propiedades del body donde se introduce el fondo de la página así como la fuente del texto*/

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: unset;
    background-repeat: no-repeat;
    font-family: "Copperplate", "Papyrus", "fantasy"
}

/*Configuración del nav*/

.navbar{
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
    transition: 200ms ease;
}

.nav-links{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: black

}

.link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
}

/*Hover del nav para que se haga más grande cuando se pase el ratón por encima*/


/*Formato de los elementos de la lista*/

.navbar-item{
    padding-top: 1vw;
    padding: auto;
    margin: auto;
    margin-top: 0;
}

/*Primer logo*/

#hoguera{
    display: block;
    width: 6vw;
    height: 3vw;
    transition: 200ms ease;
    cursor: pointer;
}

#hoguera:hover{
    width: 7vw;
    height: 4vw;
}

/*Segundo logo*/

#ds1{
    width: 20vw;
    height: 50%;
    display: block;
    transition: 200ms ease;
    cursor: pointer;
}

#ds1:hover{
    width: 21vw;
    height: 60%;
}

/*Tercer logo*/

#ds2{
    display: block;
    width: 20vw;
    transition: 200ms ease;
    cursor: pointer;
}

#ds2:hover{
    width: 21vw;
}

/*Cuarto logo*/

#ds3{
    display: block;
    width: 20vw;
    height: 50%;
    transition: 200ms ease;
    cursor: pointer;
}

#ds3:hover{
    width: 21vw;
    height: 65%;
}

/*Color de las letras dentro del main*/

main{
    color: white;
}

/*Configuración del título al cual le incluyo una animación*/

.titulo{
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vw;
    padding-top: 1vh;
    animation-name: fuego;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 4s ease;
    
    
}

/*La nombrada animación que creo con @keyframes e intenta crear un efecto de fuego*/

@keyframes fuego{
    from{    
        color: #FFFFFF;
        background: transparent;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
        color: #FFFFFF;
        background: transparent;
    }

    to{
        color: #FFFFFF;
        background: transparent;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(190, 190, 7), 0 -10px 20px #b9630c, 0 -18px 40px rgb(175, 11, 11);
        color: #FFFFFF;
        background: transparent;
    }

}

/*Edición del texto debajo del título*/

.texto{
    font-size: 1.5vw;
    padding-top: 0.5vw;
}

/*Para hacer que todo el texto esté centrado*/

p{
    text-align: center;
}

/*Customización del fieldset para que esté centrado*/

fieldset{   
    margin-right: 40vw;
    margin-left: 40vw;
    margin-bottom: 20%;
    display: block;
    border-radius: 8px 8px 8px 8px;
    border-color: grey;
    border-width: 0.25vw;
}

/*Edición de los inputs dentro del fieldset*/

input[type=text], input[type=email], input[type=password]{
    outline: none;
    transition: 0.5s;
}

input[type=submit]{
    font-family: "Copperplate", "Papyrus", "fantasy";
    color: white;
    background-color: black;
    outline: none;
    transition: 0.5s ease-in-out;
}

/*Añado una animación de focus (es decir, cuando se clica alguno de los inputs) con un color como de fuego para adaptarse a la página*/

input[type=text]:focus{
    border: 0.25vw groove #b9630c;
    border-radius: 8px 8px 8px 8px;
}

input[type=email]:focus{
    border: 0.25vw groove #b9630c;
    border-radius: 8px 8px 8px 8px;
}

input[type=password]:focus{
    border: 0.25vw groove #b9630c;
    border-radius: 8px 8px 8px 8px;
}

/*Y aquí le pongo un hove al submit porque con el focus no se vería la animación*/

input[type=submit]:hover{
    border: 0.2vw groove #b9630c;
    border-radius: 8px 8px 8px 8px;
}

/*Footer*/

footer{
    background: black;
    height: 25%;
    margin-bottom: 0%;
    font-size: 0.75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p{
    padding: 1vw;
}

.button-menu {
    display: none;
}

.navbar.show {
    margin-left: 0;
}

/*Efecto parallax para la página*/

.parallax1 {
    background-image: url("imagenes/fondo.jpg");
    min-height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("imagenes/fondo2.jpg");
    min-height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Clase sticky que utilizaré con el JS para que el header sea sticky*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

#main {
    padding: 16px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

.sticky + #main {
    padding-top: 102px;
}

.divDivisor{
    height:150px;
    background-color:rgb(0, 0, 0);
    font-size:36px;
    text-align: center;
}


.fila,
.fila > .columna {
    padding: 8px;
}
  

.columna {
    float: left;
    width: 33.33%;
    display: none; 
    height: 600px;
}
  

.fila:after {
    content: "";
    display: table;
    clear: both;
}
  
.content {
    background-color: black;
    padding: 8px;
}
  
.showFilter {
    display: block;
}
  

.btn {
    font-family: "Copperplate", "Papyrus", "fantasy";
    color: white;
    background-color: black;
    outline: none;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    border: 0.2vw groove #b9630c;
    border-radius: 8px 8px 8px 8px;
}
  
.btn.active {
    font-family: "Copperplate", "Papyrus", "fantasy";
    color: white;
    background-color: rgb(51, 51, 51);
    outline: none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*Responsive con el menú hamburguesa*/

@media screen and (max-width: 850px) {

    .button-menu {
        z-index: 200;
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .button-menu span {
        width: 37px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #444444;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: all .2s linear;
    }

    /* Estilo de rotacion de las lineas de botom hamburguesa */
    .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #ffffff;
    }

    .button-menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px);
    }

    .button-menu.close span:nth-child(3) {
        display: none;
    }

    .main-header {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        padding: 0 0.4rem;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin-left: -100%;
        transition: all .2s linear;
        background-color: rgba(0, 0, 0, .7);
        z-index: 100;
    }

    .nav-links {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .link-item {
        padding: 6rem;
        color: #444444;
        text-decoration: none;
        font-weight: bold;
        position: relative;
    }

    .link-item::after {
        position: absolute;
        content: "";
        background-color: black;
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 3px;
        transition: 0.3s ease all;
    }

    .titulo{
        font-size: 100%;
    }

    .texto{
        font-size: 100%;
    }

    body{
        font-size: 150%;
        background-repeat: no-repeat;
        background-size: inherit;
    }

    footer{
        height: 15%;
        font-size: 2vw;
        background-repeat: no-repeat;
        background-size: inherit;
    }
    
    fieldset{
        margin-left: 30%;
        margin-bottom: 40%;
    }

    
}

@media screen and (max-width: 489px) {

    fieldset{
        margin-left: 20%;
        margin-bottom: 35%;
    }

    footer{
        height: 15%;
        font-size: 3.5vw;
        background-repeat: no-repeat;
        background-size: inherit;
    }
    
}


